:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


.dark .nav-header {
  background: #fff !important;
}

.dark #nav_mask  {
  background: #242424 !important;

}
.dark #nav_mask::before {
  background: radial-gradient(circle at 0 0, transparent 0, transparent 20px,  #242424 21px, #242424) !important;
}
.dark #nav_mask::after {
  background: radial-gradient(circle at 100% 0, transparent 0, transparent 20px,  #242424 21px, #242424) !important;
}


::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,body,#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#app {
  overflow-y: overlay;
}
